// src/styles/color.pallet.scss

$primary: #574ae2;
$dark-blue: #222a68;
$purple: #654597;
$light-purple: #ab81cd;
$lavender: #e2adf2;
$whitesmoke: #f5f5f5;
$light-gray: #d3d3d3;
$white: #ffffff;

// Optionally, group them in a map for advanced usage:
$color-palette: (
	primary: $primary,
	dark-blue: $dark-blue,
	purple: $purple,
	light-purple: $light-purple,
	lavender: $lavender,
);
